@media screen and (max-width: 320px) {
    header {
        display: none;
    }

    .mBanner {
        display: block;
        background-image: url('../mobile-images/mBanner.png');
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner {
        display: none;
    }

    .mBanner-content {
        text-align: center;
        color: #ffff;
    }

    h2 {
        color: #402A22;
        font-family: Arial, sans-serif;
        font-size: 36px;
        text-decoration: none;
    }

    .row-p {
        color: #402A22;
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    .mBanner-intro {
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
    }

    .about-p {
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    .desk-icon {
        display: none;
    }

    .m-icon {
        margin: 0 auto;
    }

    .icon-p {
        font-size: 15px;
    }

    h3 {
        color: white;
        font-family: Arial, sans-serif;
        font-size: 17px;
    }

    .footer-text {
        color: white;
        font-family: Arial, sans-serif;
        font-size: 17px;
    }

    .manager {
        display: none;
    }
}
