.button {
    border-radius: 7px;
    background-color: #402A22;
}

.button-text {
    color: #ffff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
}

footer {
    background-color: #402A22;
}

.dd-menu {
    list-style: none;
    background: white;
}

.list li:hover {
    background: #402A22;
}

.list li:hover .inside-nav .nav-link {
    color: white;
}

.list li .dd-menu li .nav-link:hover {
    color: white;
}

.list li .dd-menu li {
    border-bottom: #402A22;
}

.list {
    list-style-type: none;
}

.nav {
    border-left: 1px solid #402A22;
}

.nav-link {
    color: #402A22;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.h2 {
    color: #402A22;
    font-family: Arial, sans-serif;
    font-size: 36px;
}

.banner-content {
    color: #ffff;
}

.banner-intro {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.about-p {
    color: #402A22;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

.row-p {
    color: #402A22;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

.icon-p {
    color: #402A22;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

h3 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.footer-text {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
}
